<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444226659125-mkdojvfhob1usiseum9oebe1ur2u4fs6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444226659125-mkdojvfhob1usiseum9oebe1ur2u4fs6</string>
	<key>API_KEY</key>
	<string>AIzaSyD9JdTRpzt9-7K7Z1HXBepPge9PQ0AV7qU</string>
	<key>GCM_SENDER_ID</key>
	<string>444226659125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ExperimentalReactNativeApp</string>
	<key>PROJECT_ID</key>
	<string>experimental-firebase-app</string>
	<key>STORAGE_BUCKET</key>
	<string>experimental-firebase-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444226659125:ios:e2c6ef37d635323ca6e27c</string>
	<key>DATABASE_URL</key>
	<string>https://experimental-firebase-app.firebaseio.com</string>
</dict>
</plist>